<template>
	<v-app>
		<v-navigation-drawwer app></v-navigation-drawwer>
		<v-toolbar app></v-toolbar>
		<v-content>
			<v-container fluid>
				<router-link tag="li" to="/">Home</router-link>
				<router-link tag="li" to="/blog">Blog</router-link>
			</v-container>
		</v-content>
		<v-footer></v-footer>
	</v-app>
</template>
<script>
	export default {};
</script>